/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
*,*::after,*::before{
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
/* CSS Start */
body{
    font-family: 'Roboto', 'Noto Sans TC', sans-serif;
    line-height: 1.5;
}
.container{
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 12px;
    /* outline: 1px solid green; */
}
nav{
    background-color: #AA0601;
    padding: 12px 0;
    margin-bottom: 20px;
}
.navbar-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo img{
    width: 80px;
}
.navbar{
    display: flex;
}
.navbar-links{
    display: block;
    color: #fff;
    font-size: 20px;
    padding: 8px 32px;
}
.navbar-items:last-child .navbar-links{
    padding-right: 0;
}
footer{
    background-color: #AA0601;
    color: #fff;
    padding: 48px 0 32px 0;
}
.footer-nav-social{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-nav{
    display: flex;
}
.footer-nav a{
    padding: 0 24px;
    color: #fff;
}
a.footer-nav-firstlink{
    padding-left: 0;
}
.footer-social{
    display: flex;
}
.footer-social a{
    display: block;
    width: 48px;
}
.phone,.e-mail{
    display: flex;
    align-items: center;
}
.cotactInfo span,.cotactInfo p{
    font-size: 36px;
    margin-right: 27px;
}
.copyrightInfo{
    display: flex;
    justify-content: space-between;
}
.policy{
    display: flex;
}
.policy a{
    display: block;
    color: #fff;
    font-size: 14px;
    padding: 0 24px;
}
.policy:last-child a{
    padding-right: 0;
}
@media ( max-width: 992px){
    .container{
        max-width: 960px;
    }
}
@media ( max-width: 767px){
    .container{
        max-width: 720px;
    }
    nav{
        padding-bottom: 0;
    }
    .navbar-wrap{
        flex-direction: column;
        padding-left: 0;
        padding-right: 0;
        max-width: 100%;
        align-items: flex-start;
        flex-wrap: wrap;
    }
    .col-mb-4{
        width: 100%;
    }
    .navbar{
        flex-wrap: wrap;
    }
    .navbar-items{
        width: 50%;
        border: 1px solid #fff;
    }
    .navbar-links{
        text-align: center;
        padding: 12px 0;
    }
}

/* 通用樣式 */
.col-1{
    width: 8.3333%;
}
.col-2{
    width: 16.6666%;
}
.col-3{
    width: 25%;
}
.col-4{
    width: 33.3333%;
}
.col-5{
    width: 33.3333%;
}
.col-6{
    width: 50%;
}
.col-7{
    width: 58.3333%;
}
.col-8{
    width: 66.6666%;
}
.col-9{
    width: 75%;
}
.col-10{
    width: 83.3333%;
}
.col-11{
    width: 91.6666%;
}
.col-12{
    width: 100%;
}
.mr-8{
    margin-right: 32px;
}
.mb-2{
    margin-bottom: 8px;
}
.mb-8{
    margin-bottom: 32px;
}